version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/libs/elasticsearch"
    schedule:
      interval: "weekly"
    groups:
      all:
        patterns: ["*"]
    reviewers:
      - "langchain-ai/langchain-elastic"
    open-pull-requests-limit: 10

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all:
        patterns: ["*"]
    reviewers:
      - "langchain-ai/langchain-elastic"
    open-pull-requests-limit: 10
